---
# Configure Zabbix agent

- name: customize Zabbix configuration file
  become: yes
  lineinfile: dest="{{ zabbix_conf_file }}"
              regexp="^{{ item.key }}="
              line="{{ item.key }}={{ item.value }}"
  with_dict: "{{ zabbix_config_params }}"
  notify:
    - restart zabbix agent

- name: allow zabbix user to restart services
  become: yes
  copy: src=zabbix.sudoers dest="{{ zabbix_sudoers_file }}" mode=0440
  when: "{{ not (zabbix_can_run_docker | bool) }}"

- name: allow zabbix user to restart services and run docker commands
  become: yes
  copy: src=zabbixcan_run_docker.sudoers dest="{{ zabbix_sudoers_file }}" mode=0440
  when: "{{ zabbix_can_run_docker | bool }}"