---
# Install Zabbix server

- set_fact:
    zabbix_agent_on_server_1:   "{{ [ ansible_fqdn ] | issubset( groups[ 'zabbix-server' ] ) }}"
    zabbix_agent_on_server_2:   "{{ [ ansible_default_ipv4[ 'address' ] ] | issubset( groups[ 'zabbix-server' ] ) }}"

- set_fact:
    zabbix_agent_on_server:     "{{ zabbix_agent_on_server_1 or zabbix_agent_on_server_2 }}"

- include: install_deb_from_repo.yml
  when: "{{ ansible_pkg_mgr == 'apt' and zabbix_installation_method == 'repo' }}"

# -------------------------------------------------------------
#  Zabbix agent running on host that is not Zabbix server

- include: configuration.yml
  when: "{{ not(zabbix_agent_on_server) }}"

- include: registration.yml
  when: "{{ not(zabbix_agent_on_server) and zabbix_register_with_server }}"

# -------------------------------------------------------------
#  Zabbix agent running on host that is also Zabbix server

- include: configuration_server.yml
  when: "{{ zabbix_agent_on_server }}"

- include: enable.yml
  when: "{{ zabbix_agent_on_server and zabbix_register_with_server }}"